.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.wp-caption-text {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.wp-caption {
	@extend .thumbnail;
	@extend .clearfix;
	max-width: 100%;
	height: auto;
	img {
		max-width: 100%;
		height: auto;
	}
}

iframe {
	max-width: 100%;
}
