.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.thumbnail.wp-caption {
	&.alignleft,
	&.alignright {
		display: inline-block;
	}
}

.wp-caption-text {
	text-align: center;
}

iframe {
	max-width: 100%;
}
