// the increasingly tiny Normalize
@import "../../vendor/normalize.css/normalize.css";

// of course
*, *:before, *:after {
	@include box-sizing(border-box);
}

// all block elements
address, article, aside, audio, blockquote, canvas, dd, div, dl, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, noscript, ol, output, p, pre, section, table, tfoot, ul, video {
	margin: 0;
	padding: 0;
}
// also normalize the font sizes
h1, h2, h3, h4, h5, h6, p {
	font: {
		size: 1em;
		weight: normal;
	}
	line-height: 1;
}

// the images should be restricted to their container and responsive unless otherwise specified
img {
	max-width: 100%;
	height: auto;
}
